bert-serving-client==1.8.2
bert-serving-server==1.8.2
emoji==0.5.1
fasttext==0.8.3
filesplit==1.0.4
future==0.17.1
gensim==3.4.0
html5lib==1.0.1
hyperas==0.4.1
json-lines==0.5.0
Keras==2.2.4
matplotlib==3.0.0
nltk==3.4
numpy==1.16.1
pandas==0.23.4
pickleshare==0.7.4
python-twitter==3.5
regex==2018.8.29
scikit-learn==0.20.0
scipy==1.2.1
sklearn==0.0
tensorflow==1.12.0